<a href="https://colab.research.google.com/github/BeyzaYavas/ClassMethodDemo2/blob/deneme/odev1_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd
import math

In [ ]:
#1- İki çocuğunun yaşları toplamı 5'tir. 3 yıl sonra babanın yaşı çocukların yaşları toplamının 3 katı olacağına göre babanın bugünkü yaşı kaçtır?
#Denklemi python dilinde kurunuz ve çıktıyı print ediniz.

def yas ( cocuklar_now, cocuk_sayi, yil, kat ):
  baba_now = ( kat* (cocuklar_now + cocuk_sayi* yil ) ) - yil
  print(baba_now)

In [ ]:
yas(5,2,3,3 )

30

In [ ]:
"""2-Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. 
Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve 
bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir.

Yukarıda yer alan metindeki "veri bilim" kelimelerini bulup yerine "VERİ BİLİM" yazınız. """

metin = 'Veri bilimi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. Veri Bilimiyle uğraşan kişilere veri bilimci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir.'


metin.replace("veri bilim","VERİ BİLİM").replace("Veri Bilim", "VERİ BİLİM").replace("Veri bilim", "VERİ BİLİM")

'VERİ BİLİMi, verilerden değer elde etmek için istatistik, bilimsel yöntemler, yapay zeka (AI) ve veri analizi dahil olmak üzere birçok alanı bir araya getirir. VERİ BİLİMiyle uğraşan kişilere VERİ BİLİMci denir. Bu kişiler web, akıllı telefonlar, müşteriler, sensörler ve diğer kaynaklardan toplanan verileri analiz etmek ve bunlardan eyleme dönüştürülebilir içgörüler üretmek amacıyla bir dizi beceriyi bir araya getirir.'

In [ ]:
#3- Adını, soyadını, yaşını, yaşadığın şehri ve üniversite ortalamanı aralarında birer boşluk olacak şekilde tek bir print ifade içerisinde yazın.


def introduce_yourself(name,surname,age,city, gpa):
  print(f"{name},{surname},{age}, {city}, {gpa}")

In [ ]:
introduce_yourself("beyza", "yavas", 24, "istanbul", "3.04")

beyza,yavas,24, istanbul, 3.04

In [ ]:
"""4- Veri bilimi günümüzün en heyecan verici alanlardan biridir.

"Veri bilimi" ve "alanlardan biridir." kelimelerini cümle içerisinden alınız ve her kelimeyi uzunlukları kadar aşağı doğru çoğaltarak print ediniz.

NOT: "\n" ifadesi alt satıra geçer"""

cumle = "Veri bilimi günümüzün en heyecan verici alanlardan biridir."

liste = ["Veri bilimi" , "alanlardan biridir."]

str1 = "Veri bilimi"
str2 = "alanlardan biridir."

#???

In [ ]:
"""5- "veri bilimi" ve "VERİ BİLİMİ" kelimelerinden hangisi büyük hangisi küçük harf ile yazılmış kontrol ediniz.

Not: Hangi fonksiyonu kullanmanız gerektiğini dir() bulabilirsiniz."""

string1 = "veri bilimi"
string2 = "VERİ BİLİMİ" 

def bul(string):
  if string.isupper() :
    print("Büyük harfle yazılmış")
  else :
    print("Küçük harfle yazılmış")

bul(string1)
bul(string2)

Küçük harfle yazılmış
Büyük harfle yazılmış

In [ ]:
"""6- adınız, soyadınız, yaşınız, yaşadğınız şehir ve universite not ortalamanız ile bir liste oluşturunuz. Oluşturduğunuz listeyi "listem" değişkeni olarak kaydediniz."""

def introduce_yourself_liste(name,surname,age,city, gpa):
  listem = []
  listem += name,surname,age,city,gpa
  return listem

In [ ]:
listem = introduce_yourself_liste("beyza", "yavas", 24, "istanbul", "3.04")
listem

['beyza', 'yavas', 24, 'istanbul', '3.04']

In [ ]:
#7- "listem" değişkeni içerisinden yaşınızı, yaşadığınız şehiri ve universite not ortalamanızı seçerek "listem2" değişkenini oluşturunuz.

listem2 = []

for i in listem:
  if i == listem[0] or i == listem[1] or i == listem[3] or i == listem[4] :
    listem2.append(i)
 
listem2

['beyza', 'yavas', 'istanbul', '3.04']

In [ ]:
#8- "listem2" değişkeninin her bir elamanının türlerini yazdırınız.

for i in listem2:
  print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [ ]:
"""9- "listem2" değişkenine aşağıdaki listeyi LİSTE olarak ekleyiniz.
eklenecek_liste = ["Ali", 90, "Mehmet"]"""

eklenecek_liste = ["Ali", 90, "Mehmet"]

listem2 = listem2 + [eklenecek_liste]

listem2

['beyza', 'yavas', 'istanbul', '3.04', ['Ali', 90, 'Mehmet']]

In [ ]:
"""10- "listem2" değişkeninin içinden "Ali" ve "90" ı seçip Listem3 değişkenine atayınız."""

Listem3 = listem2[-1][0:2]

Listem3

['Ali', 90]

In [ ]:
"""11- "listem2" değişkenine Listem3 değişkenini ELEMAN olarak ekleyiniz."""


listem2 = listem2 + [Listem3]

listem2

['beyza', 'yavas', 'istanbul', '3.04', ['Ali', 90, 'Mehmet'], ['Ali', 90]]

In [ ]:
"""12- "listem2" içerisinden 90 elemanını siliniz."""

#del (listem2[-1][-1])

#del(listem2[4][1])

for eleman in listem2:
   for i in eleman:
     if i == 90:
       eleman.remove(90)


listem2

['beyza', 'yavas', 'istanbul', '3.04', ['Ali', 'Mehmet'], ['Ali']]

In [ ]:
"""13- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir liste oluşturunuz. "yeni_liste" değişkenine atayınız."""

liste = [i for i in range(1,11)]

yeni_liste = liste[::-1]

yeni_liste

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#14- "yeni_liste" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.


[f"Listede {i} elemanı {yeni_tuple.index(i)} indeksinde bulunmakta" for i in yeni_liste if i==7 or i ==2]

['Listede 7 elemanı 3 indeksinde bulunmakta',
 'Listede 2 elemanı 8 indeksinde bulunmakta']

In [ ]:
#15- "listem2" üzerinden tuple oluşturunuz ve "tuple1" adını veriniz

tuple1 = tuple(listem2)

tuple1

('beyza', 'yavas', 'istanbul', '3.04', ['Ali', 90, 'Mehmet'], ['Ali', 90])

In [ ]:
#16- "tuple1" değişkeni içerisindeki "Ali" yerine "Veli" yazınız.

#tuple1[-1][-2] = "Veli"
#tuple1[-2][0] = "Veli"


for i in tuple1:
  for j in i:
    if j == "Ali":
      j = "Veli"

tuple1

('beyza', 'yavas', 'istanbul', '3.04', ['Veli', 90, 'Mehmet'], ['Veli', 90])

In [ ]:
#17- 1'den 10'a kadar tüm rakamları azalacak şekilde sıralanmış şekilde bir tuple oluşturunuz. "yeni_tuple" değişkenine atayınız. (NOT: methodu siz bulacaksınız)

tuple2 = tuple(range(10,0,-1))

yeni_tuple = ()

yeni_tuple = tuple2


print(yeni_tuple)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
#18- "yeni_tuple" değişkeninin içerisindeki 7 ve 2 elemanlarının yerlerini belirtiniz.

for i in yeni_tuple:
  if i==7 or i==2 :
    print(f"Tupledaki {i} elemanının indeksi : {yeni_tuple.index(i)}")

Tupledaki 7 elemanının indeksi : 3
Tupledaki 2 elemanının indeksi : 8

In [ ]:
"""
19- Aşağıda yer alan dictionary'nin içinden REG'in RMSE değerini, LOG'un MSE değerini ve CART'ın SSE değerini ayrı ayrı çekip yeni bir SET oluşturunuz.

dictionary = {"REG": ["RMSE", 10],
              "LOG": ["MSE", 20],
              "CART": ["SSE", 10]}
"""
dictionary = {"REG": ["RMSE", 10],
              "LOG": ["MSE", 20],
              "CART": ["SSE", 10]}
küme1 = set()

for i,j in dictionary.items():
  küme1.add(j[1])

print(küme1)

#--2.çözüm

liste_küme = [i[1] for i in dictionary.values()]

küme2 = set(liste_küme)
print(küme2)

{10, 20}
{10, 20}

In [ ]:
#20- CART değerini ["SSE", 30] olarak değiştiriniz.

for i,j in dictionary.items():
  if i=='CART':
    j[1] = 30


print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30]}

In [ ]:
#21- Sözlüğe yeni bir "RF" key değeri ekleyerek value'sunu ["SSE", 50] olarak tanımlayınız.

dictionary["RF"] = ["SSE",50]

print(dictionary)

{'REG': ['RMSE', 10], 'LOG': ['MSE', 20], 'CART': ['SSE', 30], 'RF': ['SSE', 50]}

In [ ]:
""" 22- Aşağıda yer alan listeyi SET'e çeviriniz, "set1" adını veriniz ve içindeki eleman sayısını söyleyiniz.

liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]"""

liste1 = [10, 20, 10, "Ali", 10, "Ali", "Mehmet", 20, "Ayşe" ]

set1 = set(liste1)

print(len(set1))

print(set1)

5
{'Mehmet', 'Ali', 'Ayşe', 10, 20}

In [ ]:
#23- "set1" kümesinin içinden 5. eleman ile 7. elemanı çekiniz.

# kümeler sıralı veri tipleri olmadığı için 5 ve 7. elemanlara ulaşamayız

In [ ]:
#24- "set1" kümesinde yer alan "Ali" yerine "Veli" ve 10 yerini "40" değerlerini ekleyiniz.

for i in set1:
  if i == "Ali":
    i= "Veli"
  elif i == 10:
    i="40"

print(set1)

#Bir küme oluşturunca demetlerde olduğu gibi elemanlarını değiştiremiyoruz.

{'Mehmet', 'Ali', 'Ayşe', 10, 20}

In [ ]:
"""
25- ZOR SORU aşağıda yer alan kümeler için soruları cevaplayınız. (Küme methodları kullanılabilir.)

set1 = set([1, 3, 5])
set2 = set([1, 2, 3])
25.1- set1'de olup set2'de olmayanlar hangileridir? (difference())
"""

set1 = set([1, 3, 5])
set2 = set([1, 2, 3])

fark = set1.difference(set2)

print(fark)

{5}

In [ ]:
#25.2- set2'de olup set1'de olmayanlar hangileridir? (difference())

fark2 = set2.difference(set1)

print(fark2)

{2}

In [ ]:
#25.3- İki kümede de birbirlerine göre olmayanlar hangileridir? (symmetric_difference())

fark3 = set1.symmetric_difference(set2)

print(fark3)

{2, 5}

In [ ]:
#25.4- İki kümenin kesişimi nedir? (intersection())

birleşim = set1.intersection(set2)

print(birleşim)

{1, 3}

In [ ]:
#25.5- İki kümenin birleşimi nedir? (union())

kesişim = set1.union(set2)

print(kesişim)

{1, 2, 3, 5}

In [ ]:
#25.6- İki kümenin kesişimi boş mudur? (isdisjoint())

set1.isdisjoint(set2)

False

In [ ]:
#25.7- Bir küme diğer kümenin alt kümesi midir? (issubset())

print(set1.issubset(set2))

print(set2.issubset(set1))

False
False

In [ ]:
#25.8- Bir küme diğer kümeyi kapsıyor mudur? (isdisjoint()) --> issuperset()

print(set1.issuperset(set2))
print(set2.issuperset(set1))

False
False

In [ ]:
"""

maaslar = [1000,2000,3000,4000,5000]

26- Maaslara yuzde 20 zam yaparak zamlı_maaslar listesine atayınız. (Function, For kullanarak)
"""
maaslar = [1000,2000,3000,4000,5000]

zamlı_maaslar=[]

def zam_yap(liste,zam_miktar):
  zam_oranı = zam_miktar/100
  for i in liste :
    i+=i*zam_oranı
    zamlı_maaslar.append(i)
  return zamlı_maaslar

zamlı_maaslar = zam_yap(maaslar,20)

print(zamlı_maaslar)

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [ ]:
 #27- zamlı_maaslar listesinden 2500 TL altındakileriden 50 TL vergi; 2500 TL üzerindekilerden 100 TL vergi kesiniz. (Function, For, If kullanarak)

vergi_tutar=[50,100]

vergi_maaslar = [ ]

def vergi_kes(liste,vergi_tutar,threshold=2500):
  for i in liste :
    if i < threshold:
      i-=min(vergi_tutar)
    elif i > threshold:
      i-=max(vergi_tutar)
    vergi_maaslar.append(i)
  return vergi_maaslar


vergi_maaslar = vergi_kes(zamlı_maaslar,vergi_tutar)

print(vergi_maaslar)

[1150.0, 2350.0, 3500.0, 4700.0, 5900.0]

In [ ]:
"""
students = ["John", "Mark", "Venessa", "Mariam"]
28- Listedeki öğrencileri index numaralarına göre iki gruba tek bir listede return edecek bir fonksiyonla yapınız.
"""

students = ["John", "Mark", "Venessa", "Mariam"]

new_students =[]

list1=[]
list2=[]

def list_student(liste):
  new_students =[]
  for index,deger in enumerate(liste):
    if index %2 == 0:
      list1.append(deger)
    else :
      list2.append(deger)

  new_students.append( list1 )
  new_students.append( list2 )
  return new_students


new_students = list_student(students)

print(new_students)

[['John', 'Venessa'], ['Mark', 'Mariam']]

In [ ]:
"""
29- Aşağıdaki şekilde string'i değiştirecek bir fonksiyon yazınız.

before: "hi my name is john and i am learning python"

after: "Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN"
def alternating(string):
    new_string = ""

    for string_index in range(len(string)):
        if string_index % 2 == 0:
            new_string += string[string_index].upper()
        else:
            new_string += string[string_index].lower()

    print(new_string)

alternating("hi my name is john and i am learning python")
Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN
"""

In [ ]:
#30- Yukarıda yer alan fonksiyonu enumerate kullanarak yeniden yazınız.

before= "hi my name is john and i am learning python"

def degistir(string):
  new_string = ""
  for i,j in enumerate(string):
    if i %2 == 0:
      new_string +=j.upper()
    else :
      new_string +=j.lower()

  return new_string

degistir(before)

'Hi mY NaMe iS JoHn aNd i aM LeArNiNg pYtHoN'

In [ ]:
"""

31-Kullanıcıdan ismini ve yasını alacak bir fonksiyon olusturunuz. Fonksiyon çıktısı aşağıdaki şekilde olmalı:

Merhaba benim ismim X,
Y yasındayım!
"""

def introduce_new(name,age):
  string = f"Merhaba benim ismim {name}, {age} yasındayım!"
  return string

introduce_new("beyza",24)

'Merhaba benim ismim beyza, 24 yasındayım!'